{{ form_start(form)}}
<div class="form_group1">

    <label for="{{ form.nameEvent.vars.id }}"></label>
    {{ form_widget(form.nameEvent) }}
    <hr>

    {% do form.nameEvent.setRendered %}
    {{ form_errors(form.nameEvent) }}
    {{ form_widget(form.nameEvent) }}
    <hr>
</div>
<div class="date_time">
    <img src="{{ asset("build/images/date.svg")}}" alt="calendrier" class="img-date-heure">
    <img src="{{ asset("build/images/time.svg")}}" alt="horloge" class="img-date-heure">
</div>
<div class="form_group">
    {{ form_widget(form.dateEvent) }}
    {{ form_widget(form.timeEvent) }}
</div>
<div  class="sport_choice">
    {{ form_errors(form.sport) }}
    {{ form_widget(form.sport) }}
</div>
<div class="form_group2">
    {{ form_errors(form.description) }}
    {{ form_widget(form.description) }}
</div>
<div class="form_group3">
    {{ form_errors(form.levelEvent) }}
    {{ form_widget(form.levelEvent) }}
</div>
<div class="form_group4">
    {{ form_errors(form.participantLimit) }}
    {{ form_widget(form.participantLimit) }}
</div>
<div class="form_group5">
    {{ form_errors(form.placeEvent) }}
    {{ form_widget(form.placeEvent) }}
</div>

<button class="btn">{{ button_label|default('') }}</button>
<div class="alert alert-danger">{{ form_rest(form) }}</div>
{{ form_end(form) }}
