{% extends 'base.html.twig' %}

{% block title %}Booking | Modifier l'évenement{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('edit_events') }}
{% endblock %}
{% block body %}
    {% include 'navbar/_navbar.html.twig' %}
    <div class="edit">
    {{ include('event/_form.html.twig', {'button_label': ' '}) }}

        <button class="return"><a href="{{ path('event') }}"><img src="{{ asset("build/images/return.svg")}}" alt="retour" class="icons"></a></button>

    {{ include('event/_delete_form.html.twig') }}
    </div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('edit_events') }}
{% endblock %}
